@media only screen and (max-width: 858px ) and (orientation: portrait ){
  body{
      height: 100vh;
      width: 100vw;
      overflow-x: hidden;
      margin: 0%;
      padding: 0%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between; 
      align-items: center;
  }
  .swal2-title {
    color: black;
   }
   
   .swal2-cancel .swal2-styled{
     color:black;
     text-align: center;
   }
   .swal2-confirm .swal2-styled{
    color:black;
   }
}